body{
  margin:0;
  font-family: Helvetica, Arial, sans-serif;
  background:black;
  color:white;
}

/* HEADER */

header{
  text-align:center;
  padding:30px;
}

header h1{
  margin-bottom:10px;
}

/* MENU */

nav a{
  color:white;
  text-decoration:none;
  margin:0 15px;
  font-size:18px;
}

nav a:hover{
  opacity:0.6;
}

/* GALERIA */

.gallery{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap:10px;
  padding:40px;
}

.gallery img{
  width:100%;
  height:auto;
  display:block;
  transition: transform 0.3s;
}

.gallery img:hover{
  transform: scale(1.03);
}
